.Typist {
  margin-top: 5%;
  font-size: 35pt;
  border-style: none;
  border-bottom-style: solid;
  -webkit-box-shadow:0;
  -moz-box-shadow:0;
  box-shadow:0;
  outline: none;
  font-family: 'Special Elite', cursive;
}
